# Local tools and settings
.codegpt
launch.json

# Python environment files
.env
.env.*

# Byte-compiled / optimized / DLL files
__pycache__/
*/__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
downloads/
*.egg-info/
.eggs/
develop-eggs/
lib/
lib64/
parts/
sdist/
var/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Type checkers
.mypy_cache/
.dmypy.json
.pyre/
.pytype/

# Cython debug symbols
cython_debug/

# Virtual environments
env/
venv/
ENV/
env.bak/
venv.bak/
.venv/

# IDE/editor configs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.iml
*.ipr
*.iws

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# OS files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Logs
*.log

# Dependency managers
poetry.lock
Pipfile.lock

# custom
marq-knowledge/
uv.lock