black==24.1.1
isort==5.13.2
pylint==3.2.3
gradio==4.44.1
python-dotenv==1.0.1
chevron==0.14.0
pydantic==2.9.2
tiktoken==0.8.0
openai==1.57.0
llama-index==0.12.3
llama-index-readers-web==0.3.1
ollama==0.4.5
anthropic==0.54.0